node_modules
dist
.output
.vinxi
.tanstack
.env
.env.*
!.env.example
*.log
.DS_Store

response.md
/apps/web/src/data/lagenheter.json
/apps/web/src/data/intresse.json
/apps/web/public/geocache.json
/apps/web/public/lagenheter.json
/apps/web/public/intresse.json
.pnpm-store